aws_region  = "us-east-1"
project_name = "telegram-support-bot"
environment  = "floci"

vpc_cidr = "10.20.0.0/16"

availability_zones = [
  "us-east-1a",
  "us-east-1b"
]

public_subnet_cidrs = [
  "10.20.1.0/24",
  "10.20.2.0/24"
]

private_subnet_cidrs = [
  "10.20.11.0/24",
  "10.20.12.0/24"
]

kubernetes_control_plane_instance_type = "t3.medium"
kubernetes_worker_instance_type        = "t3.medium"
kubernetes_worker_count                = 2

key_name = "telegram-support-floci"